apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: site-generator
  name: site-generator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: site-generator
  template:
    metadata:
      labels:
        app: site-generator
    spec:
      containers:
        - envFrom:
            - secretRef:
                name: site-generator-secrets
          image: gcr.io/pgtm-jlong/site-generator
          imagePullPolicy: Always
          name: site-generator
          readinessProbe:
            httpGet:
              port: 8080
              path: /actuator/health/readiness
          livenessProbe:
            httpGet:
              port: 8080
              path: /actuator/health/liveness
          ports:
            - containerPort: 8080
          resources:
            limits:
              memory: "2Gi"
            requests:
              memory: "2Gi"