name: build

env:
  GIT_PASSWORD: ${{ secrets.GIT_PASSWORD }}
  GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
  GIT_URI: ${{ secrets.GIT_URI }}
  CONFIGURATION_SERVER_USERNAME: ${{ secrets.CONFIGURATION_SERVER_USERNAME }}
  CONFIGURATION_SERVER_PASSWORD: ${{ secrets.CONFIGURATION_SERVER_PASSWORD }}
  GCLOUD_ZONE_DEVELOPMENT: ${{ secrets.GCLOUD_ZONE_DEVELOPMENT }}
  GCLOUD_PROJECT_DEVELOPMENT: ${{ secrets.GCLOUD_PROJECT_DEVELOPMENT }}
  GCLOUD_SA_KEY: ${{ secrets.GCLOUD_SA_KEY }}
  SPRING_PROFILES_ACTIVE: ci

  BP_API_PASSWORD: ${{ secrets.BP_API_PASSWORD }}
  BP_API_USERNAME: ${{ secrets.BP_API_USERNAME }}

on:

  repository_dispatch:
    types: [ deploy-production-event, deploy-development-event ]

  create:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master   ]
#
#  Echo-On-Commit:
#    runs-on: ubuntu-latest
#    steps:
#      - name: "Checkout Repository"
#        uses: actions/checkout@v2
#
#      - name: "Set flag from Commit"
#        env:
#          COMMIT_VAR: ${{ contains(github.event.head_commit.message, '[commit var]') }}
#        run: |
#          if ${COMMIT_VAR} == true; then
#            echo "::set-env name=flag::true"
#            echo "flag set to true"
#          else
#            echo "::set-env name=flag::false"
#            echo "flag set to false"
#          fi
#
#      - name: "Use flag if true"
#        if: env.flag
#        run: echo "Flag is available and true"


#
jobs:
  build:
    runs-on: ubuntu-latest
    steps:


      - uses: actions/checkout@v2

      - name: "Setup Initial Environment"
        run: |
          source $GITHUB_WORKSPACE/.github/workflows/bp_mode.sh

      - name: Set up JDK 15
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - name: Setup GCP environment
        uses: GoogleCloudPlatform/github-actions@0.1.2

      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          version: '290.0.1'
          service_account_key: ${{ secrets.GCLOUD_SA_KEY }}
          project_id: ${{ env.GCLOUD_PROJECT }}

      - run: |-
          gcloud config set project $GCLOUD_PROJECT
          gcloud --quiet auth configure-docker

      - run: |
          gcloud container clusters get-credentials $GKE_CLUSTER_NAME --zone "$GCLOUD_ZONE" --project $GCLOUD_PROJECT


      - name: Connect to Config Server for Configuration
        run: |
          source $GITHUB_WORKSPACE/.github/workflows/config_client.sh
          install_config_client_cli
          hydrate_environment_from_config_server


      - name: Deploy Site Generator
        run: |
          cd $GITHUB_WORKSPACE
          echo "Deploying site-generator."
          ./deploy/deploy.sh
